<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" data-th-href="@{'/CSS/output.css'}"/>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body id="content" class="dark">
    <div>
        <h1>This is Home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum odit, neque aut optio ullam obcaecati, sint porro fugiat, cupiditate distinctio soluta vitae quidem mollitia! Dolor corporis omnis tenetur velit nostrum!</p>
    </div>
   <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>


</body>
</html>